<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <h1>To-Do List monolithic architecture</h1>
    <form action="{{ url_for('add_task') }}" method="POST">
        <input type="text" name="task" placeholder="Enter a new task" required>
        <button type="submit">Add Task</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>{{ task }} <a href="{{ url_for('delete_task', task_id=loop.index0) }}">Delete</a></li>
        {% endfor %}
    </ul>
</body>
</html>
